doctype html
html
    head
    body
        h1 Enter medicine details
        form(action='/teststring', method='POST')
            | Search Disease :
            input(type='text', name='molecules')
            br
            input(type='submit')